{{ partial "header.html" . }}
<main class="grid-x">
    <div class="essay large-8 large-offset-2 medium-10 medium-offset-1 small-10 small-offset-1 cell"> 
        {{ .Content }}
        <h2 class="home">Annotated Articles</h2>
            {{ $pages := where .Site.RegularPages "Section" "articles"}}
            {{ range $pages.GroupBy "Weight" }}
            {{ range .Pages.ByTitle }}
            <div class="article-list">
            <h3><a href="{{ .Permalink }}">{{ .Title }} {{ .Params.subtitle }}</a></h3>
            {{ range .Params.citation }}
            <span class="meta">{{ .author }} <span class="sep">|</span> <em>{{ .journal }}</em></span>
            {{ end }}
            </div>
            {{ end }}
            {{ end }}

    </div>
</main>
{{ partial "footer.html" . }}
