{{ partial "header.html" . }}
<main class="grid-x">
    <article class="essay large-8 large-offset-2 medium-10 medium-offset-1 small-10 small-offset-1 cell">
        <header class="essay-header">

            <h2>
                {{ .Params.title }}
                <br><small>{{ .Params.subtitle }}</small>
            </h2>

            {{ range .Params.author }}
                <span class="author">{{ .name }}, {{ .affiliation }}, {{ .email }}</span>
            {{ end }}
            <span class="meta"><a href="{{ .Params.doi }}">{{ .Params.doi }}</a></span>
            
            {{ range .Params.citation }}
            <h4>Citation:</h4> <span class="citation"> {{ .author }}. "{{ .title }}," <em>{{ .journal }}</em> {{ .volume }}, {{ .issue }} ({{ .year }}): {{ .pages }}, <a href="{{ .doi }}">{{ .doi }}</a></span>
            {{ end }}
        </header>
        <section class="abstract callout">
            <h3>Abstract</h3>
            <div class="abstract-contents">
                {{ .Params.abstract }}
            </div>
        </section>
        {{ replaceRE `\^(.*?)\^` "<sup>$1</sup>" .Content | safeHTML }}


    </article>

</main> 


{{ partial "footer.html" . }}