<!doctype html>
<html class="no-js" lang="{{ .Site.LanguageCode }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ if .Page.Description }}
    <meta name="description" content="{{ .Page.Description }}">
    {{ end}}
    {{ if .Page.Params.Subtitle }}
    <title>{{.Page.Title}} {{.Page.Params.Subtitle}} &endash; {{ .Site.Title }}</title>
    {{ else }}
    <title>{{ .Site.Title }}</title>
    {{ end }}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,600;0,700;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;1,300&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="{{.Site.BaseURL}}img/favicon.ico">
    {{ $sass := resources.Get "scss/app.scss" }}
    {{ $style := $sass | resources.ToCSS }}
    <link rel="stylesheet" href="{{$style.RelPermalink}}" media="screen">
    <link rel="stylesheet" href="{{.Site.BaseURL}}css/foundation-icons/foundation-icons.css">
    <!-- Matomo -->
    <script>
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "https://stats.rrchnm.org/";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', '91']);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.async = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
        })();
    </script>
    <!-- End Matomo Code -->
</head>

<body>

    <header class="grid-x align-right">
        <div class="auto cell">
            <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
        </div>
    </header>
